<h1>Sent short messages</h1>
<p>All messages sent by this application</p>

<%% for <%=short_message_model_name.underscore%> in @<%=short_message_model_name.underscore.pluralize%> %>
<div>
	<p>
		<strong>Destination:</strong> <%%= <%=short_message_model_name.underscore%>.destination %>
	</p>
	<p>
		<strong>Originator:</strong> <%%= <%=short_message_model_name.underscore%>.originator %>
	</p>
	<p>
		<strong>Originator type:</strong> <%%= <%=short_message_model_name.underscore%>.originator_type %>
	</p>
	<p>
		<strong>Message:</strong> <%%= <%=short_message_model_name.underscore%>.body %>
	</p>
</div>
<hr>
<%% end %>

<p><%%= link_to 'new short message', new_short_message_path %></p>